.Footer {
  position: relative;
  background-color: #333;
  color: #ddd;
}

.footerContent {
  min-height: 42rem;
  padding: 5.2rem;
  margin-bottom: 2.4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerHeading {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.footerDesc {
  font-size: 2rem;
}

.footerEmail {
  display: inline-block;
  color: #ddd;
  background: -webkit-linear-gradient(left, #d4ff6b, #ff9d0a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  margin: 2.8rem 0;
  padding: 1rem;
}

.footerEmail:hover {
  text-decoration: none;
  color: unset;
}

.Footer .cta-btn {
  background-color: #ffefd1;
  color: #222;
}

.Footer .cta-btn:hover {
  color: #ddd;
  background-color: #333;
  box-shadow: 0 0 4px #ddd;
}

.memojiImg {
  position: absolute;
  bottom: 0;
  right: 12%;
  height: 100%;
}

