.card {
  border-radius: 28px;
}

a {
  color: var(--gray-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

.icon {
  fill: var(--gray-color);
  width: 5rem;
  height: 5rem;
  padding: 0.8rem;
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: all 200ms;
}

.icon:focus,
.icon:hover {
  fill: var(--bg-color);
}
.btn {
  font-size: 1.8rem;
  padding: 1.8rem 5.2rem;
  border: none;
  border-radius: 100px;
  background-color: #171515;
  color: #fff;
  transition: all 200ms;
}

.btn:focus,
.btn:hover {
  background-color: #343a40;
  color: #fff;
  text-decoration: none;
}
