.Hero {
  display: flex;
  height: 44rem;
  gap: 1.8rem;
}

.hero-text {
  background-image: linear-gradient(to bottom right, #ffead9,  #e5ecff);
  display: flex;
  flex-direction: column;
  background-color: #9d92db;
  padding: 4.8rem;
  width: 9rem;
  flex-grow: 5;
  line-height: 1.1;
  justify-content: space-between;
}

.hero-text h1 {
  font-weight: 600;
}

.intro {
  font-size: 4.8rem;
  letter-spacing: -1px;
}

.intro-desc {
  font-size: 1.8rem;
  margin-bottom: 9.6rem;
}

/***** call to action *********/

.CallToAction {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.WhatsAppIcon:focus,
.WhatsAppIcon:hover {
  background-color: #075E54;
}

.GitHubIcon:focus,
.GitHubIcon:hover {
  background-color: #171515;
}

.InstagramIcon:focus,
.InstagramIcon:hover {
  background-image: linear-gradient(to bottom left, #ff0000 , #FFC0CB, orange);
}

/**********************************/

