.Hero {
  min-height: 60vh;
  display: flex;
  gap: 1.8rem;
}

.hero-text {
  flex: 1 1 auto;

  background-image: linear-gradient(to bottom right, #ffead9,  #e5ecff);
  padding: 4.8rem;
  line-height: 1.1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroImgWrapper {
  flex: 0 0 auto;
  width: 40rem;
  height: 60vh;
  min-height: 54rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 8rem;
  transform: scale(1.4);
}

.intro {
  margin-bottom: 4.8rem;
  font-size: 7.6rem;
  font-weight: 600;
  letter-spacing: -4px;
}

.intro-desc {
  font-size: 2.4rem;
}

/***** call to action *********/

/* btn is in general.css */

.CallToAction {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.WhatsAppIcon:focus,
.WhatsAppIcon:hover {
  background-color: #075E54;
}

.GitHubIcon:focus,
.GitHubIcon:hover {
  background-color: #171515;
}

.InstagramIcon:focus,
.InstagramIcon:hover {
  background-image: linear-gradient(to bottom left, #ff0000 , #FFC0CB, orange);
}

.TelegramIcon:focus,
.TelegramIcon:hover {
  background-color: #0088cc;
}
/**********************************/

