.Nav {
  display: flex;
  margin: 2.4rem auto;
}

.darkModeBtn {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  margin: auto 1.2rem;
  cursor: pointer;
}

.NavOpts {
  font-size: 2rem;
  display: flex;
  gap: 3.6rem;
}
.navOpt {
  border-radius: 4px;
  padding: 1.2rem 1.6rem;
  transition-duration: 200ms;
}

.navOpt:hover {
  color: unset;
  text-decoration: none;
  background-color: #555;
  color: #fff;
}

.hamburgerWrapper {
  display: none;
  transform: scale(0.8);
}

