.Nav {
  display: flex;
  justify-content: space-between;
  margin: 2.4rem auto;
}

.NavOpts {
  font-size: 2rem;
  display: flex;
  gap: 3.6rem;
}
.navOpt {
  border-radius: 4px;
  padding: 1.2rem 1.6rem 0.8rem;
  transition-duration: 200ms;
}

.navOpt:hover {
  color: unset;
  text-decoration: none;
  background-color: #555;
  color: #fff;
}

.hamburgerWrapper {
  display: none;
  transform: scale(0.8);
}

