/* width < 1244px */
@media (max-width: 84em) {
  html {
    font-size: 50%;
  }

  .intro {
    letter-spacing: -3px;
  }
}

/* width < 1088px */
@media (max-width: 68em) {
  html {
    /* 43.75% = 7px */
    font-size: 43.75%;
  }

  .Hero {
    min-height: 64rem;
  }

  .intro {
    letter-spacing: -2px;
  }

  .heroImgWrapper{
    min-height: 64rem;
  }
}

/* width < 912px */
@media (max-width: 57em) {
  html {
    /* 5px */
    font-size: 31.25%;
  }

  .heroImgWrapper {
    max-height: 30rem;
  }
}

 /* widht < 560px [mobile] */
/* midth < 688 */
@media (max-width: 43em) {
  html {
    font-size: 50%;
  }
  
  .card {
    border-radius: 16px;
    margin: 0.5rem;
  }

  .App {
    padding: 0 2.5rem;
  }

  .logo-text {
    font-size: 3.2rem;
  }

  .NavOpts {
    display: none;
  }

  .Hero {
    margin-top: 4rem;
    flex-direction: column-reverse;
    gap: 0.8rem;
  }

  .heroImgWrapper {
    min-height: 0;
    max-height: none;
    height: 45rem;
    width: auto;
    flex: 0 0 auto;
    overflow: hidden;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-position: 55% 10%;
  }

  .hero-text {
    flex: 0 0 auto;
    min-height: 50rem;
  }

  .intro {
    font-size: 4.8rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }

  .intro-desc {
    margin-bottom: 7rem;
    letter-spacing: -0.5px;
  }

  .CallToAction {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .CallToAction .btn {
    width: 100%;
    text-align: center;
  }

  .icon {
    height: 7rem;
    width: 7rem;
    padding: 1.6rem;
  }

  .skillCards {
    grid-template-columns: 1fr;
  }

  .SkillCard {
    /* max-width: 48rem; */
    margin: auto;
    padding: 7.2rem;
  }


  /* Footer */

  .CallToAction .btn {
    margin-bottom: 1.8rem;
  }
  .footerContent {
    margin-block: -5.6rem;
  }

  .memojiImg {
    display: block;
    position: unset;
    width: 70%;
    margin: auto;
  }
}

