.Skills {
  text-align: center;
}

.skillsHeading {
  margin: 4.8rem;
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #333;
}

.skillCards {
  margin: 2.4rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}

.SkillCard {
  padding: 0 8.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  min-height: 42rem;
  box-shadow: none;
  transition: all 500ms;
}

.SkillCard:hover {
  transform: translateY(-2rem)
}

.skillIcons {
  margin: 0.8rem;
}

.skillIcon {
  width: 11.8rem;
}

.skillTitle {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
}

.skillDesc {
  font-size: 1.6rem;
  color: #666;  
  line-height: 2;
 }
